<ion-tabs>
  <ion-tab-bar slot="bottom">
    <!-- Tab 1: Listado y gestión de Equipos -->
    <ion-tab-button tab="equipos" href="/tabs/equipos">
      <ion-icon aria-hidden="true" name="hardware-chip-outline"></ion-icon>
      <ion-label>Equipos</ion-label>
    </ion-tab-button>

    <!-- Tab 2: Formulario de Registro de Equipos -->
    <ion-tab-button tab="registrar-equipo" href="/tabs/registrar-equipo">
      <ion-icon aria-hidden="true" name="add-circle-outline"></ion-icon>
      <ion-label>Registrar</ion-label>
    </ion-tab-button>

    <!-- Tab 3: Gestión de Préstamos -->
    <ion-tab-button tab="prestamos" href="/tabs/prestamos">
      <ion-icon aria-hidden="true" name="swap-horizontal-outline"></ion-icon>
      <ion-label>Préstamos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
    <!-- Tab 3: Gestión de Préstamos -->
