.header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
}

// Estilos para tema oscuro
:host-context(.dark-theme) {
  ion-label {
    p {
      color: var(--ion-text-color);
    }
  }
}
