<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/equipos"></ion-back-button>
    </ion-buttons>
    <ion-title>Equipo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form #equipoForm="ngForm" (ngSubmit)="guardarEquipo()" novalidate>
    <ion-list lines="full">
      <ion-list-header>
        <ion-label color="medium">Información Básica</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label position="floating">Código *</ion-label>
        <ion-input
          type="text"
          [(ngModel)]="equipo.codigo"
          name="codigo"
          required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nombre de Equipo *</ion-label>
        <ion-input
          type="text"
          [(ngModel)]="equipo.nombreEquipo"
          name="nombreEquipo"
          required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Descripción *</ion-label>
        <ion-textarea
          autoGrow="true"
          [(ngModel)]="equipo.descripcion"
          name="descripcion"
          required>
        </ion-textarea>
      </ion-item>
    </ion-list>

    <ion-list lines="full" class="ion-margin-top">
      <ion-list-header>
        <ion-label color="medium">Detalles Técnicos</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label position="floating">Marca *</ion-label>
        <ion-input
          type="text"
          [(ngModel)]="equipo.marca"
          name="marca"
          required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Modelo *</ion-label>
        <ion-input
          type="text"
          [(ngModel)]="equipo.modelo"
          name="modelo"
          required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Serie *</ion-label>
        <ion-input
          type="text"
          [(ngModel)]="equipo.serie"
          name="serie"
          required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Número de Activo *</ion-label>
        <ion-input
          type="text"
          [(ngModel)]="equipo.numeroActivo"
          name="numeroActivo"
          required>
        </ion-input>
      </ion-item>
    </ion-list>

    <ion-list lines="full" class="ion-margin-top">
      <ion-list-header>
        <ion-label color="medium">Adquisición y Clasificación</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label position="floating">Fecha de Compra *</ion-label>
        <ion-input
          type="date"
          [(ngModel)]="equipo.fechaCompra"
          name="fechaCompra"
          required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Valor Estimado *</ion-label>
        <ion-input
          type="number"
          min="0"
          [(ngModel)]="equipo.valorEstimado"
          name="valorEstimado"
          required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Foto URL *</ion-label>
        <ion-input
          type="url"
          [(ngModel)]="equipo.fotoUrl"
          name="fotoUrl"
          required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Categoría *</ion-label>
        <ion-select
          [(ngModel)]="equipo.idCategoria"
          name="idCategoria"
          required
          interface="action-sheet">
          <ion-select-option
            *ngFor="let cat of categorias()"
            [value]="cat.idCategoria">
            {{ cat.nombreCategoria }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Ubicación *</ion-label>
        <ion-select
          [(ngModel)]="equipo.idUbicacion"
          name="idUbicacion"
          required
          interface="action-sheet">
          <ion-select-option
            *ngFor="let ubi of ubicaciones()"
            [value]="ubi.idUbicacion">
            {{ ubi.nombreUbicacion }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Estado *</ion-label>
        <ion-select
          [(ngModel)]="equipo.idEstadoEquipo"
          name="idEstadoEquipo"
          required
          interface="action-sheet">
          <ion-select-option
            *ngFor="let estado of estadosEquipo()"
            [value]="estado.idEstadoEquipo">
            {{ estado.nombreEstado }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-list lines="full" class="ion-margin-top">
      <ion-list-header>
        <ion-label color="medium">Observaciones y Estado</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label position="floating">Observaciones *</ion-label>
        <ion-textarea
          autoGrow="true"
          [(ngModel)]="equipo.observaciones"
          name="observaciones"
          required>
        </ion-textarea>
      </ion-item>

      <ion-item lines="none">
        <ion-label>Activo</ion-label>
        <ion-toggle
          slot="end"
          color="success"
          [(ngModel)]="equipo.activo"
          name="activo">
        </ion-toggle>
      </ion-item>
    </ion-list>

    <div class="ion-padding-vertical ion-margin-top">
      <ion-button expand="block" type="submit" color="primary" shape="round">
        <ion-icon slot="start" name="save-outline"></ion-icon>
        Guardar Equipo
      </ion-button>
    </div>
  </form>
</ion-content>